.alpineGreen-color {
  background: #00493C;
}

.black-color {
  background: #000;
}

.blue-color {
  background: #0000ff;
}

.gold-color {
  background: #f4d2b9;
}

.graphite-color {
  background: #595955;
}

.green-color {
  background: #1ead37;
}

.midnight-color {
  background: #0d1b3a;
}

.pacificBlue-color {
  background: #4a5a68;
}

.pink-color {
  background: #fa8072;
}

.purple-color{
  background: #bdb2e1;
}

.red-color {
  background: #e40d0d;
}

.sierraBlue-color {
  background: #51A0D5;
}

.silver-color {
  background: #e9e9e1;
}

.starlight-color {
  background: #ffffff;
}

.white-color {
  background: #ffffff;
}